# **Ipychart's ChartDataFrame class**

The second class of the ipychart API is the *ChartDataFrame* class. It allows you to create charts directly from your pandas dataframe.

In this notebook you will find examples of how to create charts from your data loaded in a pandas dataframe with ipychart. All types of charts that can be created with the ChartDataFrame classs are implemented below. You can also find these examples in the official documentation of the package: https://nicohlr.gitlab.io/ipychart/

## **Imports**

In [1]:
import pandas as pd
from ipychart import ChartDataFrame

## **Load Data & create a ChartDataFrame instance**

In [2]:
titanic = pd.read_csv('titanic.csv')
titanic_chart = ChartDataFrame(titanic)
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr

## **Charts**

### Count

In [3]:
titanic_chart.count(x='Embarked')

Chart(layout=Layout(align_self='stretch', height='auto'))

### Dist

In [4]:
titanic_chart.dist(x='Age')

Chart(layout=Layout(align_self='stretch', height='auto'))

### Line

In [5]:
datalabels_arguments = {'display': True, 'borderWidth': 1, 'anchor': 'end', 
                        'align': 'end', 'borderRadius': 5, 'color': '#fff'}

titanic_chart.line(x='Pclass', y='Age', hue='Sex', 
                   dataset_options={'fill': False, 'datalabels': datalabels_arguments}, 
                   colorscheme='office.Parallax6')

Chart(layout=Layout(align_self='stretch', height='auto'))

 ### Bar

In [6]:
titanic_chart.bar(x='Pclass', y='Fare', hue='Sex', colorscheme='office.Parallax6')

Chart(layout=Layout(align_self='stretch', height='auto'))

### Radar

In [7]:
titanic_chart.radar(x='Title', y='Fare', colorscheme='office.Yellow6')

Chart(layout=Layout(align_self='stretch', height='auto'))

### Doughnut

In [8]:
titanic_chart.doughnut(x='Title', y='Fare', colorscheme='brewer.SetThree5')

Chart(layout=Layout(align_self='stretch', height='auto'))

### Pie

In [9]:
titanic_chart.pie(x='Title', y='Fare', colorscheme='brewer.SetThree5')

Chart(layout=Layout(align_self='stretch', height='auto'))

### Polar Area

In [10]:
titanic_chart.polararea(x='Title', y='Fare', colorscheme='brewer.SetThree5')

Chart(layout=Layout(align_self='stretch', height='auto'))

### Scatter

In [11]:
titanic_chart.scatter(x='Age', y='Fare', hue='Survived', 
                      colorscheme='tableau.ColorBlind10')

Chart(layout=Layout(align_self='stretch', height='auto'))

### Bubble

In [12]:
titanic_chart.bubble(x='Age', y='Fare', r='Pclass', hue='Survived', 
                     colorscheme='office.Headlines6')

Chart(layout=Layout(align_self='stretch', height='auto'))