# **Ipychart - Chart class**

The first class of the ipychart API is the *Chart* class. It allows you to create charts like using Chart.js but with Python in a Jupyter environement.

The syntax to create a chart in ipychart [is extremely similar - not to say identical - to the syntax of Chart.js](https://nicohlr.gitlab.io/ipychart/user_guide/usage.html#chart-js-vs-ipychart). It is made to make all options and possibilities offered by Chart.js avaible in ipychart.

In this notebook you will find examples of how to create charts with ipychart. All types of charts that can be created are implemented below. You can also find these examples in the official documentation of the package: https://nicohlr.gitlab.io/ipychart/

## **Imports**

In [ ]:
import random
from ipychart import Chart

## **Charts**

### Line

In [ ]:
dataset = {
  'labels': ['Germany','Spain', 'UK', 'Italy', 'Norway', 'France', 'Poland', 
             'Portugal', 'Sweden', 'Ireland'],
  'datasets': [{'data': [14, 106, 16, 107, 45, 133, 19, 109, 60, 107]}]
}

mychart = Chart(dataset, 'line')
mychart

### Bar

In [ ]:
dataset = {
  'labels': ['Germany','Spain', 'UK', 'Italy', 'Norway', 'France', 'Poland', 
             'Portugal', 'Sweden', 'Ireland'],
  'datasets': [{'data': [14, 106, 16, 107, 45, 133, 19, 109, 60, 107]}]}

mychart = Chart(dataset, 'bar')
mychart

In [ ]:
dataset = {
  'labels': ['Germany','Spain', 'UK', 'Italy', 'Norway', 'France', 'Poland', 
             'Portugal', 'Sweden', 'Ireland'],
  'datasets': [{'data': [14, 106, 16, 107, 45, 133, 19, 109, 60, 107]}]}

mychart = Chart(dataset, 'horizontalBar') # Set the type to horizontalBar to rotate the chart
mychart

### Radar

In [ ]:
dataset = {
  'labels': ['Top','TopRight', 'BottomRight', 'BottomLeft', 'TopLeft'],
  'datasets': [{'data': [140, 106, 160, 107, 45],
                'label': 'Dataset1',
                'borderWidth': 3},
               {'data': [32, 160, 72, 140, 89],
                'label': 'Dataset2',
                'borderWidth': 3}]
}

mychart = Chart(dataset, 'radar')
mychart

 ### Doughnut

In [ ]:
dataset = {
  'labels': ['Red','Blue', 'Yellow', 'Green', 'Purple'],
  'datasets': [{'data': [140, 106, 160, 107, 45],
                'backgroundColor': ['rgba(255, 99, 132, 1)', 
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)']
}]}

mychart = Chart(dataset, 'doughnut')
mychart

### Pie

In [ ]:
dataset = {
  'labels': ['Red','Blue', 'Yellow', 'Green', 'Purple'],
  'datasets': [{'data': [140, 106, 160, 107, 45],
                'backgroundColor': ['rgba(255, 99, 132, 1)', 
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)']
}]}

mychart = Chart(dataset, 'pie')
mychart

### Polar Area

In [ ]:
dataset = {
    'labels': ['Red','Blue', 'Yellow', 'Green', 'Purple'],
    'datasets': [{'data': [140, 106, 160, 107, 45],
                  'backgroundColor': ['rgba(255, 99, 132, 1)', 
                                      'rgba(54, 162, 235, 1)',
                                      'rgba(255, 206, 86, 1)',
                                      'rgba(75, 192, 192, 1)',
                                      'rgba(153, 102, 255, 1)'],
                  'borderColor': ['#fff']*5,
                  'borderWidth': 2.5
}]}

mychart = Chart(dataset, 'polarArea')
mychart

### Scatter

In [ ]:
dataset = {
  'datasets': [{'data': [
    {'x': random.randint(0, 100), 
     'y': random.randint(0, 100), 
     'r': random.randint(0, 100)} for _ in range(100)
  ]}]
}

mychart = Chart(dataset, 'scatter')
mychart

### Bubble

In [ ]:
dataset = {
  'datasets': [{'data': [{'x': 20, 'y': 30, 'r': 20}, 
                         {'x': 10, 'y': 20, 'r': 40}, 
                         {'x': 15, 'y': 40, 'r': 90}, 
                         {'x': 5, 'y': 10, 'r': 50}],
                'borderWidth': 4}]
}

options = {
  'scales': {'xAxes': [{'ticks': {'min': 0, 'max': 25}}],
             'yAxes': [{'ticks': {'min': 0, 'max': 60}}]}
}

mychart = Chart(dataset, 'bubble', options=options)
mychart

### Other

#### Stacked

In [ ]:
dataset = {
  'labels': ['Label 1', 'Label 2', 'Label 3'],
  'datasets': [
    { 'data': [221, 783, 2478], 'label': "Africa",
    'fill': False}, 
    {'data': [1402, 3700, 5267], 'label': "Asia",
     'fill': False}, 
    {'data': [547, 675, 734], 'label': "Europe",
     'fill': False}, 
    {'data': [167, 508, 784], 'label': "Latin America",
     'fill': False}, 
    {'data': [172, 312, 433], 'label': "North America",
     'fill': False}
  ]
}

options = {
  'scales': {'xAxes': [{'stacked': True}],
             'yAxes': [{'stacked': True}]}
}

mychart = Chart(dataset, 'bar', options=options, colorscheme='tableau.Tableau20')
mychart

#### Area

In [ ]:
dataset = {
  'labels': ['Germany','Spain', 'UK', 'Italy', 'Norway', 'France', 'Poland', 
             'Portugal', 'Sweden', 'Ireland'],
  'datasets': [{ 
    'data': [14, 106, 16, 107, 45, 133, 109, 109, 108, 107],
    'fill': True
}]}

mychart = Chart(dataset, 'line', colorscheme='brewer.PuOr3')
mychart

#### Mixed

In [ ]:
dataset = {
  'labels': ['Dataset 1', 'Dataset 2', 'Dataset 3', 'Dataset 4',
             'Dataset 5', 'Dataset 6', 'Dataset 7', 'Dataset 8',
             'Dataset 9','Dataset 10'],
  'datasets': [{ 
    'data': [86, 114, 106, 106, 107, 111, 133, 221, 121, 142],
    'label': "Africa", 'fill': False, 'type': 'line', # Change the type
    'pointRadius': 5, 'pointHoverRadius': 10
    }, { 
    'data': [99, 130, 64, 100, 73, 22, 88, 198, 144, 64],
    'label': "Asia",
    }, { 
    'data': [168, 170, 178, 190, 203, 200, 164, 100, 72, 85],
    'label': "Europe", 'fill': False, 'type': 'line', # Change the type
    'pointRadius': 5, 'pointHoverRadius': 10
    }, {
    'data': [40, 20, 10, 16, 24, 38, 74, 167, 80, 150],
    'label': "Latin America",
    }, { 
    'data': [56, 95, 44, 112, 215, 35, 95, 74, 64, 78],
    'label': "North America",
    }
  ]
}

mychart = Chart(dataset, 'bar', colorscheme='tableau.ClassicLight10') # Base type
mychart